numpy>=1.19.0
torch>=1.7.0
torch-geometric>=2.0.0  
torch-scatter>=2.0.0    

biotite>=0.36.0        
biopython>=1.79        


scikit-learn>=0.24.0   
tqdm>=4.50.0       


typing                 
pathlib               
argparse              